html, body {
    height: 100%;
    width: 100%;
  }
  .black{
    color:white;
    background-color: black;
  }
  .white{
    color:black;
    background-color: white;
  }
  .red{
    color:grey;
    background-color: red;
  }
  .orange{
    color:grey;
    background-color: orange;
  }